<nav class="navbar navbar-dark bg-dark navbar-expand-sm" style="margin-bottom: 60px">
  <a class="navbar-brand" href="#">
    <img src="https://img.icons8.com/color/48/000000/user-male-circle.png" width="50" height="50" alt="logo">
    StudentApp
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list-2">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Alunos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aluno/save">Novo</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
